nexus_verified_client(audioserver);
nexus_communicate(audioserver);
set_prop(audioserver, nexus_prop);

allow audioserver gpu_device:chr_file rw_file_perms;
