nexus_verified_client_ignored(bluetooth);
nexus_communicate(bluetooth);
set_prop(bluetooth, nexus_prop);

allow bluetooth bluetooth_control:chr_file { rw_file_perms };
allow bluetooth nxserver:binder call;
allow bluetooth nexus_service:service_manager find;
allow bluetooth proc_bluetooth_writable:dir search;
allow bluetooth sysfs:file write;
