nexus_verified_client(hal_memtrack);
nexus_communicate(hal_memtrack);
get_prop(hal_memtrack, nexus_prop);
allow hal_memtrack gpu_device:chr_file rw_file_perms;
allow hal_memtrack ion_device:chr_file { open ioctl read write };
