nexus_verified_client_ignored(ephemeral_app);
dontaudit ephemeral_app vnd_nexus_hwservice:hwservice_manager { find };

allow ephemeral_app proc_sysrq:file getattr;
