nexus_verified_client_ignored(ephemeral_app);
dontaudit ephemeral_app vnd_nexus_hwservice:hwservice_manager { find };
get_prop(ephemeral_app, nexus_prop);

allow ephemeral_app proc_sysrq:file getattr;
