type bluetooth_control, dev_type;
type sw_sync_device, dev_type;
type nexus_data_file, file_type, core_data_file_type, data_file_type;
type nexus_vendor_data_file, file_type, data_file_type;
type nexus_debug_file, file_type, core_data_file_type, data_file_type;
type nexus_vendor_debug_file, file_type, data_file_type;
type nexus_log_file, file_type, data_file_type;
type proc_irq, fs_type, proc_type;
type nexus_secdma_file, file_type, data_file_type;
type nexus_fw_file, file_type, data_file_type;
type debugfs_dri, fs_type, mlstrustedobject, debugfs_type;
allow debugfs_dri { debugfs }:filesystem associate;
type proc_brcm, fs_type, proc_type;
type nexus_ir_file, file_type, vendor_file_type;
type nexus_ssd_file, file_type, data_file_type;
type readonlyfs, fs_type;
type nexus_sdbhak_file, file_type, data_file_type;
type nexus_pak_file, file_type, vendor_file_type;
type nexus_kmgk_file, file_type, vendor_file_type;
type nexus_jwl_file, file_type, vendor_file_type;
type nexus_thermal_file, file_type, vendor_file_type;

