type hal_casproxy, domain;
type hal_casproxy_exec, exec_type, vendor_file_type, file_type;

# Network access permitted (e.g. netd)
net_domain(hal_casproxy);

init_daemon_domain(hal_casproxy);
add_hwservice(hal_casproxy, vnd_casproxy_hwservice);

nexus_vendor_verified_client(hal_casproxy);
nexus_vendor_mediacas(hal_casproxy);

# Allow CasProxy to binder communicate with CAS plugins
binder_call(hal_casproxy, hal_cas_default);
hwbinder_use(hal_casproxy);

# Allow CasProxy to binder communicate with SfHak service (temporary fix)
binder_call(hal_casproxy hal_sfhak);
sfhak_hwservice(hal_casproxy);

# Allow HIDL memory
allow hal_casproxy hidl_memory_hwservice:hwservice_manager find;

allow hal_casproxy system_file:dir r_dir_perms;

# Read access to pseudo filesystems
r_dir_file(hal_casproxy, cgroup)
allow hal_cas cgroup:dir { search write };
allow hal_cas cgroup:file w_file_perms;

# Allow GPU access
allow hal_casproxy gpu_device:chr_file rw_file_perms;

# allow UDP socket networking
allowxperm hal_casproxy self:udp_socket ioctl unpriv_sock_ioctls;
allowxperm hal_casproxy self:udp_socket ioctl priv_sock_ioctls;

# allow limited procfs access
allow hal_casproxy proc_interrupts:file r_file_perms;
allow hal_casproxy proc_irq:dir r_dir_perms;
allow hal_casproxy proc_irq:file rw_file_perms;
allow hal_casproxy proc_version:file { getattr open read };

get_prop(hal_casproxy, hwservicemanager_prop);

### Don't audit section follows ###
dontaudit hal_casproxy self:capability sys_ptrace;
