type hal_bp3, domain;
type hal_bp3_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_bp3);
add_hwservice(hal_bp3, vnd_bp3_hwservice);
vndbinder_use(hal_bp3);
get_prop(hal_bp3, hwservicemanager_prop);
hwbinder_use(hal_bp3);
nexus_vendor_verified_client(hal_bp3);
nexus_hwservice(hal_bp3);
allow hal_bp3 gpu_device:chr_file rw_file_perms;
allow hal_bp3 hwcbinder_service:service_manager { find };
allow hal_bp3 self:udp_socket create_socket_perms;
allow hal_bp3 node:udp_socket node_bind;
allow hal_bp3 port_type:udp_socket name_bind;
allow hal_bp3 self:capability { net_admin net_raw };
allow hal_bp3 self:netlink_socket create_socket_perms_no_ioctl;
allow hal_bp3 self:netlink_generic_socket create_socket_perms_no_ioctl;
allow hal_bp3 self:tcp_socket create_socket_perms;
allow hal_bp3 port_type:tcp_socket name_connect;
nexus_hwcfg(hal_bp3);

