type hwcbinder, domain;
type hwcbinder_exec, exec_type, vendor_file_type, file_type;

# started by init
init_daemon_domain(hwcbinder)

vndbinder_use(hwcbinder);
nexus_vendor_verified_client(hwcbinder);
binder_call(hwcbinder, hal_graphics_composer_default);
allow hwcbinder self:capability { sys_nice };

allow hwcbinder surfaceflinger:binder { call transfer };
allow hwcbinder mediaserver:binder { call transfer };
allow hwcbinder untrusted_app_all:binder { call transfer };
allow hwcbinder bcmstb_app:binder { call transfer };
allow hwcbinder mediacodec:binder { call transfer };
allow hwcbinder togplm:binder { call transfer };
allow hwcbinder hal_tv_input_default:binder { call transfer };

add_service(hwcbinder, hwcbinder_service);

allow hwcbinder dumpstate:fd use;
allow hwcbinder cgroup:dir search;
allow hwcbinder cgroup:file { open read write };
allow hwcbinder debugfs:dir search;
allow hwcbinder sysfs_devices_system_cpu:dir search;
allow hwcbinder sysfs:dir { open read };
allow hwcbinder sysfs:file { read write getattr };
allow hwcbinder sysfs_devices_system_cpu:file { open read write getattr };
