type vnd_nexus_hwservice, hwservice_manager_type;

type vnd_dspsvcext_hwservice, hwservice_manager_type;
type vnd_sdbhak_hwservice, hwservice_manager_type;
type vnd_tvisvcext_hwservice, hwservice_manager_type;
type vnd_bp3_hwservice, hwservice_manager_type;
type vnd_dpthak_hwservice, hwservice_manager_type;
type vnd_sfhak_hwservice, hwservice_manager_type;
type vnd_prdysc_hwservice, hwservice_manager_type;
