nexus_verified_client(mediaserver);
nexus_hwservice(mediaserver);
nexus_debugable(mediaserver);
get_prop(mediaserver, nexus_prop);
nexus_hwcfg(mediaserver);

allow mediaserver graphics_device:dir search;
allow mediaserver self:netlink_kobject_uevent_socket { create bind read };
allow mediaserver nxmem_device:chr_file rw_file_perms;
