nexus_verified_client(mediaserver);
nexus_hwservice(mediaserver);
nexus_debugable(mediaserver);
set_prop(mediaserver, nexus_prop);

allow mediaserver graphics_device:dir search;
allow mediaserver readonlyfs:file { read open getattr };
allow mediaserver readonlyfs:dir search;
allow mediaserver self:netlink_kobject_uevent_socket { create bind read };
allow mediaserver ion_device:chr_file { open ioctl read write };
