nexus_vendor_verified_client(mediacodec);
nexus_hwservice(mediacodec);
nexus_vendor_debugable(mediacodec);
set_prop(mediacodec, nexus_prop);
binder_call(mediacodec, hwcbinder);
nexus_hwcfg(mediacodec);
dspsvcext_hwservice(mediacodec);
binder_call(mediacodec, hal_dspsvcext);

allow mediacodec graphics_device:dir search;
allow mediacodec self:netlink_kobject_uevent_socket { create bind read };
allow mediacodec proc:file r_file_perms;
allow mediacodec hwcbinder_service:service_manager find;
allow mediacodec system_file:dir r_dir_perms;
allow mediacodec nxmem_device:chr_file rw_file_perms;
