type nxserver, domain, mlstrustedsubject;
type nxserver_exec, exec_type, vendor_file_type, file_type;

type_transition nxserver nexus_vendor_data_file:file nexus_secdma_file "stbpriv.txt";
type_transition nxserver nexus_vendor_data_file:file nexus_log_file "nexus.log";

init_daemon_domain(nxserver);
wakelock_use(nxserver);
nexus_vendor_verified_client(nxserver);
nexus_vendor_debugable(nxserver);
nexus_firmware(nxserver);
nexus_secdma(nxserver);
set_prop(nxserver, nexus_prop);
add_hwservice(nxserver, vnd_nexus_hwservice);
hwbinder_use(nxserver);
get_prop(nxserver, hwservicemanager_prop);
binder_call(nxserver, hal_graphics_composer_default);
binder_call(nxserver, hal_power_default);
binder_call(nxserver, hal_tv_cec_default);
allow nxserver proc_brcm:file rw_file_perms;
allow nxserver proc_brcm:dir search;
nexus_ir(nxserver);
nexus_hwcfg(nxserver);
nexus_pak(nxserver);
nexus_jwl(nxserver);
nexus_thermal_cfg(nxserver);
nexus_thermal(nxserver);

allow nxserver system_server:binder call;
allow nxserver surfaceflinger:binder call;
allow nxserver self:capability { sys_module };
allow nxserver device:dir { write add_name };
allow nxserver gpu_device:chr_file { read write ioctl open getattr };
allow nxserver input_device:chr_file { read open };
allow nxserver proc:file write;
allow nxserver property_socket:sock_file write;
allow nxserver sysfs:file write;
allow nxserver sysfs_devices_system_cpu:file write;
allow nxserver system_file:file execute_no_trans;
allow nxserver vendor_file:file execute_no_trans;
allow nxserver uhid_device:chr_file { write ioctl open };
allow nxserver gpu_device:chr_file ioctl;
allow nxserver input_device:dir search;
allow nxserver dumpstate:fd use;
allow nxserver dumpstate:unix_stream_socket { read write };
allow nxserver self:netlink_kobject_uevent_socket { create bind read };
allow nxserver hdmi_hpd_device:chr_file { read write open getattr ioctl };
allow nxserver watchdog_device:chr_file rw_file_perms;

allow nxserver nexus_log_file:file { open create read write setattr getattr unlink };
allow nxserver self:udp_socket { write create setattr ioctl };
allow nxserver self:capability { net_raw net_admin };
allowxperm nxserver self:udp_socket ioctl { unpriv_sock_ioctls priv_sock_ioctls unpriv_tty_ioctls };

allow nxserver cgroup:dir search;
allow nxserver cgroup:file { open read write };
allow nxserver proc:file { read open };
allow nxserver self:capability sys_nice;
allow nxserver sysfs_devices_system_cpu:dir search;
allow nxserver debugfs:dir search;
allow nxserver nxmem_device:chr_file { open ioctl read write };
allow nxserver kernel:system module_request;

allow nxserver self:capability { sys_nice };

allow nxserver proc:file getattr;
allow nxserver sysfs:lnk_file { read getattr open write };
allow nxserver sysfs_devices_system_cpu:file read;
allow nxserver tmpfs:dir search;
allow nxserver tmpfs:lnk_file read;
allow nxserver sysfs:dir { open read };
allow nxserver sysfs:file { read write getattr open };
allow nxserver sysfs_devices_system_cpu:file { open read write getattr };

allow nxserver self:capability kill;
allow nxserver domain:process { sigkill signal };

allow nxserver debugfs_dri:dir search;
allow nxserver debugfs_dri:file r_file_perms;

r_dir_file(nxserver, sysfs_rtc);

allow nxserver self:global_capability2_class_set wake_alarm;

get_prop(nxserver, system_boot_reason_prop);

nexus_sys_prop_forced(nxserver);
