nexus_verified_client_ignored(untrusted_app_all);
allow untrusted_app_all proc_sysrq:file getattr;

# for netflix application.
get_prop(untrusted_app_all, vendor_display_size_prop);

