nexus_verified_client_ignored(untrusted_app);
nexus_hwservice(untrusted_app);
get_prop(untrusted_app, nexus_prop);

allow untrusted_app proc_sysrq:file getattr;
