nexus_hwcfg(vendor_init);
set_prop(vendor_init, nexus_prop);
set_prop(vendor_init, vendor_nrdp_prop);

allow vendor_init {
   nexus_vendor_data_file
}:file { create getattr open read write setattr relabelfrom unlink };

allow vendor_init self:capability sys_module;
allow vendor_init vendor_file:system module_load;

allow vendor_init self:udp_socket { create ioctl };
allowxperm vendor_init self:udp_socket ioctl SIOCSIFFLAGS;
allow vendor_init self:global_capability_class_set net_raw;
