on fs
   mount_all /vendor/etc/fstab.bcm
   swapon_all /vendor/etc/fstab.bcm
   setprop chrome.tv.hole_threshold 0
   setprop ro.nexus.devname nxmw
   setprop ro.nexus.wake.devname nxwk
   setprop ro.nx.ashmem.devname nxmem

