nexus_verified_client(mediadrmserver);
nexus_debugable(mediadrmserver);
nexus_hwcfg(mediadrmserver);

allow mediadrmserver nxserver:binder call;
allow mediadrmserver gpu_device:chr_file rw_file_perms;
allow mediadrmserver self:netlink_kobject_uevent_socket { create bind read };
allow mediadrmserver nexus_service:service_manager find;
allow mediadrmserver tmpfs:dir search;
allow mediadrmserver tmpfs:lnk_file read;
