nexus_verified_client(mediaserver);
nexus_debugable(mediaserver);
nexus_hwcfg(mediaserver);
set_prop(mediaserver, nexus_prop);

allow mediaserver graphics_device:dir search;
allow mediaserver hwcbinder:binder { transfer call };
allow mediaserver nxserver:binder call;
allow mediaserver self:netlink_kobject_uevent_socket { create bind read };
allow mediaserver nexus_service:service_manager find;
allow mediaserver nxmem_device:chr_file rw_file_perms;
