type nxdispfmt, domain;
type nxdispfmt_exec, exec_type, vendor_file_type, file_type;

# started by init
init_daemon_domain(nxdispfmt)

nexus_verified_client(nxdispfmt);
set_prop(nxdispfmt, nexus_prop);

allow nxdispfmt gpu_device:chr_file rw_file_perms;
allow nxdispfmt property_socket:sock_file write;

