nexus_verified_client(surfaceflinger);
set_prop(surfaceflinger, nexus_prop);
hal_server_domain(surfaceflinger, hal_graphics_allocator)
nexus_debugable(surfaceflinger);

allow surfaceflinger hwcbinder:binder { transfer call };
allow surfaceflinger nxserver:binder { transfer call };
allow surfaceflinger sw_sync_device:chr_file { open ioctl read write };
allow surfaceflinger nxmem_device:chr_file rw_file_perms;
allow surfaceflinger nexus_service:service_manager find;
